.inputAbout{
    padding: 4px 12px;
    height: 100px;
    background-color: #505050;
    border: none;
    border-radius: 4px;
    color: white;
    margin: 1rem 0 1rem 0;
    text-align: start;
    font-family: "Noto Sans", sans-serif;
}
.inputTitle{
    height: 50px;
    background-color: #535353;
    color: white;
    border: none;
    font-family: "Noto Sans", sans-serif;
    padding: 0.25rem 0.5rem 4rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.inputDesc{
    background-color: #535353;
    color: white;
    border: none;
    font-family: "Noto Sans", sans-serif;
    padding: 0.25rem 0.5rem 4rem 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}