header{
    height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
     background-color: #ff9051;
    background-image: linear-gradient(180deg,#ff9051,2%,#ff9051,65%,#181818 100%);
}
.infor_container{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 2rem;
    color: white;
}
.infor_edit{
   cursor: pointer;
   align-self: flex-end;
   border: 1px solid wheat;
   border-radius: 16px;
   padding: 4px;
   margin-right: 10px;
   font-weight: 700;
   margin-top: 20px;
   font-size: 1.2rem;
}
.infor_username{
    width: 50%;
    margin-bottom: 0.5rem;
}
.infor_age , .infor_about{
    font-size:1.6rem;
    margin-bottom: 0.5rem;
}
.infor_avatar{
    width: 120px;
    border-radius: 10px;
    height: 120px;
    object-fit: cover;
    overflow: hidden;
}
